body {
  margin: 0; padding: 0;
  font-family: 'Inter' ,-apple-system, 'Roboto',sans-serif;
  font-weight: 400;
  background-color: #eaeaea;
}
* div{
  border-radius: 20px;
}
* a{
  text-decoration: none;
  color: rgb(68, 68, 68);
}
* a:hover{
  color: rgb(101, 101, 101);
}
.white{
  background-color: white;
  border: 1px solid rgb(209, 209, 209)
}
h1,h2{
  margin: 40px 0;
}
h3{
  margin: 20px 0;
}
.noDecoration{
  text-decoration: none;
}
.spacer{
  width: 100%;
  height: 80px;
}
.carousel{
  height: 580px;
  margin-top: 25px;
  overflow: hidden;
  color: #000000;
}
.carousel img{
  height: 580px;
  overflow: hidden;
  object-fit: cover;
}
.rounded *{
  border-radius: 20px;
}
.footer{
  background-color: #f8f0e6;
}
.navbar{
  position: fixed;
  z-index: 40;
  width: 100%;
  background-color: #eaeaea;
  height: 70px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.108);
  border-radius: 0 0 20px 20px;
}
.burger{
  cursor: pointer;
  color:#636262;
  width: 40px;
  padding: 0;
  margin: 0;
}
.ribbon{
  font-family: 'ribbon';
  font-size: x-large;
  font-weight: 400;
}
.site-container {
  min-height: 100vh;
}
main {
  flex: 1;
}
.card-img-top{
  height: 250px;
  border-radius: 10px;
}
.cardContent{
  margin: 0;
}
.homeCard{
  padding: 15px;
  border-radius: 20px;
}
.homeCard:hover{
  box-shadow: 0 0 5px 5px rgb(221, 221, 221);
}
.homeCard:hover img{
  scale: 1.005;
  transition: all 0.1s;
}
.productImg{
  max-height: 530px;
}
.productInfo img{
  height: 170px;
}
.productLand{
  padding: 30px;
  background-color: white;
}
.productLand *{
  border-radius: 15px;
}
.productLand h1{
  margin: 10px 0;
}
.btn-primary,
.btn-outline-primary {
  background-color: #f7c68b;
  color: #000000;
  z-index: 20;
  border: none;
}
.btn-primary:hover,
.btn-outline-hover {
  background-color: #555;
  color: white;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rating span {
  color: #ffc000;
}
.navbar-brand{
  overflow: hidden;
  height: 55px;
  width: 240px;
  margin: 0 5px;
  object-fit: contain;
  cursor: pointer;
}
.product {
  border: 1px #404040 solid;
  margin: 1rem;
}
.product-info {
  padding: 1rem;
}
.img-large {
  max-width: 100%;
}
.img-thumbnail {
  height: 80px;
}
.small-container {
  max-width: 600px;
  background-color: #eaeaea;
  padding: 0 58px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 550px;
  width: 50%;
}
.bg-signin{
  background-image: url(../public/images/p2.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
  padding: 20px;
}
.checkout-steps > div {
  padding: 10px 20px;
  text-align: center;
  border-bottom: 0.2rem solid #a0a0a0;
  color: #a0a0a0;
}
.checkout-steps > div.active {
  border-bottom: 0.2rem solid #ffc000;
  color: #2d3029;
}
.d-flex, .d-md-flex{
  width: 100%;
  justify-content: space-between;
}

/* sidebar */

.side-navbar {
  width: 230px;
  height: 100%;
  position: fixed;
  margin-right: 50px;
  left: -300px;
  background-color: #e7d5bf;
  border-radius: 0 20px 20px 0;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.145);
  color: #333;
  z-index: 20;
  transition: 0.5s;
}
.site-container {
  transition: 0.4s;
}
.active-cont {
  margin-left: 260px;
}
.active-nav {
  left: 0;
}
.text-bold {
  font-weight: bold;
}

/* Map */

.full-box *{
  border-radius: 0;
}
.full-box {
  height: 100vh;
  max-width: initial;
}
.full-box header,
.full-box footer {
  display: none;
}
.full-box .container {
  height: 100vh;
  max-width: initial;
  margin: 0;
  padding: 0;
}

.full-box .mt-3 {
  margin-top: 0 !important;
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 3rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
button.thumbnail {
  padding: 0;
}
@media (max-width: 1000px){
  .productLand{
    padding: 10px 0px;
    background-color: white;
  }
  .productLand h1{
    margin: 10px 0;
  }
  .productImg{
    max-height: 350px;
    margin: 5px 0;
    margin-top: 15px;
  }
  .navbar-brand{
    overflow: hidden;
    height: 55px;
    width: 50%;
  }
  .nav-expanded{
    background-color: rgb(255, 255, 255);
    width: 100vw;
    padding: 20px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.058);
    transform: translateY(12px);
  }
  .small-container {
    padding: 32px;
    width: 100%;
    height: auto;
  }
  .bg-signin{
    align-items: flex-start;
    width: 100%;
    padding: 5px;
    height: 535px;
  }
}